<% if resource.errors.any? %>
  <%= devise_error_messages! %>
<% end %>

<div class="row top-space">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-heading">
          <h3 class="panel-title">Profile settings</h3>
        </div> <br>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <div class="form-group">
            <%= f.label 'Full name' %>
            <%= f.text_field :name, placeholder: 'Full name', class: 'form-control', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label 'Location' %>
            <%= f.text_field :location, placeholder: 'Location', class: 'form-control', id: 'location-field', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label 'Art style' %>
            <%= f.text_field :art_style, placeholder: 'What is your preferred art style?', class: 'form-control', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label 'About' %>
            <%= f.text_area :about, placeholder: 'Write a short description about yourself', class: 'form-control', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label 'Date of birth' %>
            <%= f.date_select :dob, order: [:month, :day, :year], start_year: 1900 %>
          </div>

          <div class="form-group">
            <%= f.label :sex %>
            <%= f.select :sex, %w{Male Female Other}, prompt: 'Select' %>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="btn btn-primary btn-file">
                  Upload a profile pic<%= f.file_field :avatar, style: 'display:none;' %>
                </label>
              </div>
            </div>

            <div class="col-sm-6">
              <div id="update-pw">
                <%= link_to 'Change password', '#', id: 'show-fields', class: "btn btn-primary" %>
              </div>
              <div class="hidden" id="cancel-update-pw">
                <%= link_to 'Hide password fields', '#', id: 'hide-fields', class: "btn btn-primary" %>
              </div>
            </div>
          </div>

          <div id="hidden-fields" class= "hidden">
            <div class="form-group">
              <%= f.password_field :password, placeholder: 'New password', class: 'form-control', autocomplete: "off" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control', autocomplete: "off" %>
            </div>
          </div> <br>

          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-success' %>
          </div>

        <% end %> <hr>

        <div class="panel panel default">
          <div class="panel-heading">
            <h3 class="panel-title">Delete account</h3>
          </div>
        </div>

        <p>Warning deleting your account is irreversible!</p>

        <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'btn btn-danger', method: :delete %>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-6 img-top">
    <% if @user.avatar.exists? %>
      <%= image_tag(@user.avatar, class: 'img-responsive large-img') %>
    <% else %>
      <%= image_tag('user.png', class: 'img-responsive') %>
    <% end %>
  </div>
  <div class="col-md-1"></div>

</div>
