<div class="comments">
  <div class="row">
    <div class="col-sm-2">

      <div class="dropdown drop-menu">
        <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown">
          <% if comment.user.avatar.exists? %>
            <%= image_tag comment.user.avatar, class: 'tiny-img pull-left img-responsive' %>
          <% else %>
            <%= image_tag 'user.png', class: 'tiny-img pull-left img-responsive' %>
          <% end %>
        </button>
        <ul class="dropdown-menu drop-content">
          <% if comment.user.id == current_user.id %>
            <li class="dropdown-header"><%= comment.user.name %></li>
            <li class="divider"></li>
            <li><%= link_to 'View Profile', profile_path(comment.user.name) %></li>
          <% else %>
            <li class="dropdown-header"><%= comment.user.name %></li>
            <li class="divider"></li>
            <li><%= link_to 'View Profile', profile_path(comment.user.name) %></li>
            <li><%= link_to 'Add Friend', '#' %></li>
            <li><%= link_to 'Block User', '#' %></li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="col-sm-8">
      <div class="caption">
        <% if comment.content.length > 50 %>
          <div id="trunc-comment-<%= comment.id %>">
            <%= truncate(comment.content, length: 50) %>
            <%= link_to 'Read more', '#', remote: true, class: 'show-more', data: {comment_id: "#{comment.id}", type: "html"} %>
          </div>

          <div id="nontrunc-comment-<%= comment.id %>" class="hidden post-caption">
            <%= comment.content %>
            <%= link_to 'Read less', '#', remote: true, class: 'show-less', data: {comment_id: "#{comment.id}", type: "html"} %>
          </div>
        <% else %>
          <%= comment.content %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-2">

      <% if comment.user.id == current_user.id %>
        <div class="dropdown comment-options">
          <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown">
            <%= image_tag 'threedot.png', class: 'img-responsive three-dot' %>
          </button>
          <ul class="dropdown-menu user-menu">
            <li><%= link_to 'Delete comment', post_comment_path(post, comment), method: :delete, remote: true, data: {confirm: 'Are you sure you want to delete this comment?'} %></li>
          </ul>
        </div>
      <% else %>
        <div class="dropdown">
          <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown"><%= image_tag 'threedot.png', class: 'img-responsive three-dot' %></button>
          <ul class="dropdown-menu user-menu">
            <li><%= link_to 'Report inappropriate content', '#' %></li>
          </ul>
        </div>
      <% end %>

    </div>

  </div> <!-- row end -->
</div>
<div class="clearfix"></div>
