<div class="panel panel-default groups">
  <div class="panel-heading">
    <h3 class="panel-title">Chats</h3>
  </div>
  <div class="panel-body">

    <div class="group-item">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to '#' do %>
            <%= image_tag 'user.png', class: 'img-responsive thumbnail' %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <div class="bubble">
            <div class="pointer">
              <p>This is a paragraph of intro text, or whatever I want to call it...</p>
            </div>
            <div class="pointer-border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="group-item">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to '#' do %>
            <%= image_tag 'user.png', class: 'img-responsive thumbnail' %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <div class="bubble">
            <div class="pointer">
              <p>This is a paragraph of intro text, or whatever I want to call it...</p>
            </div>
            <div class="pointer-border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="group-item">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to '#' do %>
            <%= image_tag 'user.png', class: 'img-responsive thumbnail' %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <div class="bubble">
            <div class="pointer">
              <p>This is a paragraph of intro text, or whatever I want to call it...</p>
            </div>
            <div class="pointer-border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <a href="#" class="btn btn-primary">View All Chats</a>
  </div>
</div>
