<div class="panel panel-default post">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h3 class="panel-title"><%= post.user.first_name %> <%= post.user.last_name %></h3>
      </div>
      <div class="col-md-5">
        <%= how_long_ago(post) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= image_tag post.image, class: 'img-responsive post-img' %> <br>
    <div class="row">
      <div class="col-md-2">
        <% if post.user.avatar.exists? %>
          <%= image_tag post.user.avatar, class: 'img-responsive tiny-img' %>
        <% else %>
          <%= image_tag 'user.png', class: 'img-responsive tiny-img' %>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="comment">
          <%= post.caption %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="text-center">
      <% if post.user.id == current_user.id %>
        <%= link_to 'Edit', edit_post_path(post), remote: true, data: {toggle: 'modal', target: '#myModal'} %>
      <% end %>
    </div>
  </div>
</div>
