<div id="post-<%= post.id %>" class="panel panel-default post">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to post.user.name, profile_path(post.user.name) %></h3>
  </div>

  <div class="panel-body">
    <%= link_to post_path(post), remote: true, data: {toggle: 'modal', target: '#myModal'} do %>
      <%= image_tag post.image, class: 'img-responsive post-img' %> <hr>
    <% end %>

      <div class="row">
        <div class="col-sm-6">
          <div class="pull-left">
            <%= how_long_ago(post) %>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="likes pull-right">1000 Likes</div>
        </div> <br> <br>

    <!-- post caption !!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div class="col-sm-2">
          <div class="dropdown drop-menu">
            <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown">
              <% if post.user.avatar.exists? %>
                <%= image_tag post.user.avatar, class: 'tiny-img pull-left img-responsive' %>
              <% else %>
                <%= image_tag 'user.png', class: 'tiny-img pull-left img-responsive' %>
              <% end %>
            </button>
            <ul class="dropdown-menu drop-content">
              <% if post.user.id == current_user.id %>
                <li class="dropdown-header"><%= post.user.name %></li>
                <li class="divider"></li>
                <li><%= link_to 'View Profile', profile_path(post.user.name) %></li>
              <% else %>
                <li class="dropdown-header"><%= post.user.name %></li>
                <li class="divider"></li>
                <li><%= link_to 'View Profile', profile_path(post.user.name) %></li>
                <li><%= link_to 'Add Friend', '#' %></li>
                <li><%= link_to 'Block User', '#' %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-sm-10">
          <div class="caption">
            <% if post.caption.length > 50 %>
              <div id="trunc-<%= post.id %>">
                <%= truncate(post.caption, length: 50) %>
                <%= link_to 'Read more', '#', remote: true, class: 'more', data: {post_id: "#{post.id}", type: "html"} %>
              </div>

              <div id="nontrunc-<%= post.id %>" class="hidden post-caption">
                <%= post.caption %>
                <%= link_to 'Read less', '#', remote: true, class: 'less', data: {post_id: "#{post.id}", type: "html"} %>
              </div>
            <% else %>
              <%= post.caption %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div><br>
    <!-- end post caption !!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!-- comment form !!!!!!!!!!!!!!!!!!!!!!!!!!!-->
      <div class="col-sm-12">
        <%= form_for [post, post.comments.build], remote: true do |f| %>
          <div class="form-group">
            <%= f.text_field :content, placeholder: 'Comment on this post...', class: 'form-control', id: 'comment-content-#{post.id}' %>
          </div>
          <div class="clearfix"></div><hr>
        <% end %>
      </div>
   <!-- end comment form !!!!!!!!!!!!!!!!!!!!!!!!!-->
   <!-- user comments !!!!!!!!!!!!!!!!!!!!!!!!!!!-->
      <div id="show-<%= post.id %>" class="text-center">
        <%= link_to 'Show comments', '#', remote: true, class: 'show-comments', data: {post_id: "#{post.id}", type: "html"} %>
      </div>

      <div id="hide-<%= post.id %>" class="text-center hidden">
        <%= link_to 'Hide comments', '#', remote: true, class: 'hide-comments', data: {post_id: "#{post.id}", type: "html"} %>
      </div>

      <div id="comments-<%= post.id %>" class="comments hidden">
        <% if post.comments.any? %>
          <% post.comments.each do |comment| %>
            <%= render post.comments.order('created_at ASC'), post: post %>
          <% end %>
        <% end %>
      </div>

  </div> <hr> <!-- end row -->
 <!-- end user comments !!!!!!!!!!!!!!!!!!!!!!!!!!!-->

    <div class="pull-right">
      <% if post.user.id == current_user.id %>
        <div class="dropdown">
          <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown">
            <%= image_tag 'threedot.png', class: 'img-responsive three-dot' %>
          </button>
          <ul class="dropdown-menu user-menu">
            <li><%= link_to 'Edit post', edit_post_path(post), remote: true, data: {toggle: 'modal', target: '#myModal'} %></li>
            <li><%= link_to 'Delete post', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %></li>
          </ul>
        </div>
      <% else %>
        <div class="dropdown">
          <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown"><%= image_tag 'threedot.png', class: 'img-responsive three-dot' %></button>
          <ul class="dropdown-menu user-menu">
            <li><%= link_to 'Hide this post', '#', class: 'hide-post', remote: true, data: {post_id: "#{post.id}", type: "html"} %></li>
            <li><%= link_to 'Report inappropriate content', '#' %></li>
          </ul>
        </div>
      <% end %>
    </div>

  </div> <!-- end panel-body -->
</div> <!-- end panel -->

<div style="margin-bottom:20px;" id="unhide-<%= post.id %>" class="hidden">
  This post has been hidden. <%= link_to 'Click here', '#', class: 'unhide-post', remote: true, data: {post_id: "#{post.id}", type: "html"} %> to unhide it.
</div>
