<div class="panel panel-default post">

  <div class="panel-heading">
    <h3 class="panel-title"><%= post.user.name %></h3>
  </div>

  <div class="panel-body">
    <%= link_to post_path(post), remote: true, data: {toggle: 'modal', target: '#myModal'} do %>
      <%= image_tag post.image, class: 'img-responsive post-img' %> <hr>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <div class="pull-left">
          <%= how_long_ago(post) %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="likes pull-right">1000 Likes</div>
      </div>

      <div class="col-sm-12"> <br>
        <div class="comments">
          <div class="comment">
            <%= link_to '#' do %>
              <% if post.user.avatar.exists? %>
                <%= image_tag post.user.avatar, title: "#{post.user.name}", class: 'img-responsive post-avatar tiny-img pull-left' %>
              <% else %>
                <%= image_tag 'user.png', title: "#{post.user.name}", class: 'img-responsive post-avatar tiny-img pull-left' %>
              <% end %>
            <% end %>
            <div class="comment-text">
              <p><%= post.caption %></p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div> <br>

        <form>
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter Comment">
          </div>
        </form>
        <div class="clearfix"></div><hr>

        <div class="comments">
          <div class="comment">
            <%= link_to '#' do %>
              <%= image_tag 'user.png', class: 'tiny-img pull-left img-responsive' %>
            <% end %>
            <div class="comment-text">
              <p>I am just going to paste in a paragraph, then we will add another clearfix.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div> <hr>

    <div class="pull-right">

      <% if post.user.id == current_user.id %>
        <div class="dropdown">
          <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown"><%= image_tag 'threedot.png', class: 'img-responsive three-dot' %></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Post', edit_post_path(post), remote: true, data: {toggle: 'modal', target: '#myModal'} %></li>
            <li><%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %></li>
          </ul>
        </div>
      <% else %>
        <div class="dropdown">
          <button class="dropdown-toggle option-btn" type="button" data-toggle="dropdown"><%= image_tag 'threedot.png', class: 'img-responsive three-dot' %></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Report inappropriate content', '#' %></li>
          </ul>
        </div>
      <% end %>

    </div>

  </div>
</div>
