<!DOCTYPE html>
<html>
<head>
  <title>MuseFinder</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="jquery.geocomplete.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container text-center">
    <h1 id="musefinder">MuseFinder</h1>
    <p><i>Find Your Art Muse</i></p>
  </div>
</header>

<%= render 'layouts/navbar' %>

<!-- links to open modal need - remote: true, data: {toggle: 'modal', target: '#myModal'} -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"></h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">

    <div class="alert-msgs">
        <% flash.each do |type, content| %>
          <% if content.respond_to?('each')
              content.each do |item| %>
                <%= render 'layouts/alert', type: type, content: item %>
              <% end %>
          <% else %>
              <%= render 'layouts/alert', type: type, content: content %>
          <% end %>
        <% end %>
    </div>

    <%= yield %>

  </div>
</section>

<footer>
  <div class="container">
    <p>MuseFinder Copyright &copy, 2017</p>
  </div>
</footer>

</body>
</html>
